html, body, #__next {
    height: 100%;
}

a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead, tr, tt, ul, var {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0px;
}

html {
    font: 700 14px / 1.2 Montserrat, sans-serif;
    color: rgb(27, 19, 100);
    background-color: rgb(204, 204, 204);
}

.kouXII {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(27, 19, 100);
}

.styles__StyledHeader-rqtxaj-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

#voice {
    z-index: 100;
    cursor: pointer;
    background: none rgb(34, 34, 170);
    width: 2.4em;
    height: 2.4em;
    border-radius: 7px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

#voice::after {
    content: "";
    background: url('src/voice.svg') center no-repeat;
    width: 2.4em;
    height: 2.4em;
    display: block;
    cursor: pointer;
}

video {
    margin: auto;
    min-height: 100vh;
    display: block;
    width: 100vw;
}

.c0145 {
    width: 376px;
}

.c0143 {
    top: auto;
    right: 0;
    color: #ffffff;
    height: auto;
    bottom: 0;
    padding: 0 24px;
    display: flex;
    z-index: 1400;
    position: fixed;
    font-size: 11px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    line-height: normal;
    flex-direction: column;
    justify-content: flex-start;
}

h3.c0144 {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

h3.c0144 > sub {
    bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

.c0143 > button {
    min-width: 112px;
}

.c011 button {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
    letter-spacing: 0.5px;
}

.c0143 > span {
    margin: 8px 0;
    font-size: 11px;
}

button.c0146 {
    background: linear-gradient(to bottom, #18d4e8 0%, hsl(191, 87%, 29%) 100%);
    height: 32px;
}



.bcLZqm {
    position: relative;
    z-index: -1;
}

#__next {
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 99%;
    padding: 10px;
}

.movie-wrap {
    width: fit-content;
    margin: auto;
    position: relative;
}

.c0155 {
    min-width: 88px;
    background: linear-gradient(to bottom, hsl(186, 82%, 55%) 0%, hsl(191, 87%, 34%) 100%);
    color: #ffffff;
}

.movie-wrap::before {
    background-image: linear-gradient(to right, rgb(204, 204, 204) 5%, rgba(204, 204, 204, 0));
    left: -1px;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 5%;
    z-index: 2;
}

.movie-wrap::after {
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgb(204, 204, 204) 75%);
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 5%;
    z-index: 2;
    right: -1px;
}

@media (max-height: 36em) and (orientation: landscape) {
    .jnsqxD {
        font-size: 2.6vh;
    }
}

.jnsqxD .actions-panel {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    max-width: 24em;
}

@media (min-width: 768px), (max-width: 479px) and (orientation: landscape) {
    .jnsqxD .actions-list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    }
}

.jbGwOf {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.8em;
    width: 0px;
    border-radius: 0.7em;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    transition: left 0.5s ease 0s, visibility 0s ease 0.5s, width 0s ease 0.5s, opacity 0.5s ease 0s;
}

.jbGwOf {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.8em;
    width: 0px;
    border-radius: 0.7em;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    transition: left 0.5s ease 0s, visibility 0s ease 0.5s, width 0s ease 0.5s, opacity 0.5s ease 0s;
}

.jnsqxD .btn {
    margin-top: 1em;
}

.hehdNZ {
    border-radius: 10em;
    background-color: rgb(115, 243, 255);
    color: rgb(27, 19, 100);
    padding: 1em 1.5em;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease 0s;
    display: inline-block;
}

.hehdNZ:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media (min-width: 768px), (max-width: 479px) and (orientation: landscape) {
    .jnsqxD .actions-list {
        display: flex;
        flex-flow: row wrap;
    }
}

.jnsqxD .action-ctn {
    display: inline-block;
    cursor: pointer;
    flex: 1 1 auto;
    width: 30%;
}

.jnsqxD .action-ctn .action {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 1em;
}

.kmqrWt .action-tooltip {
    opacity: 0;
    top: 50%;
    left: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.2em 0.4em;
    border-radius: 1em;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 1em;
    transition: top 0.5s ease 0s, opacity 0.5s ease 0s;
}

.kmqrWt .icon {
    width: 100%;
    height: 100%;
    fill: rgb(255, 106, 169);
}

.kmqrWt.disabled .icon {
    fill: rgb(165, 165, 165);
}

.kmqrWt {
    height: 6em;
    width: 6em;
    border-radius: 100%;
    padding: 1em;
    margin: 0.5em auto;
    position: relative;
    cursor: pointer;
}

.jnsqxD {
    z-index: 999;
    position: fixed;
    top: 25%;
    left: 10%;

}

.jnsqxD .action-ctn:hover .action-tooltip {
    top: -1em;
    opacity: 1;
}

.CyzZp {
    margin: 50px auto;
    position: relative;
    max-width: 970px;
}

.WzXFf {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.eObAAH {
    bottom: 100%;
    left: 0px;
    margin-bottom: 5px;
    position: absolute;
}

.eKJGiC {
    position: relative;
    width: 410px;
    height: 630px;
    overflow: hidden;
}

.dgPKHQ {
    background: black;
    width: 102%;
    height: 102%;
    margin-left: -1%;
    margin-top: -1%;
    object-fit: cover;
}

.cOXCvw {
    background: rgb(224, 224, 224);
    box-sizing: border-box;
    width: 560px;
    min-height: 270px;
    padding: 0px 20px;
}

.fjYjkQ {
    color: rgb(0, 0, 0);
    margin: 28px auto;
    max-width: 430px;
}


.edxTYy.edxTYy {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: normal;
    line-height: normal;
}

.hvtIfx.hvtIfx {
    margin: 0px 0px 25px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
}

form {
    display: block;
    margin-top: 0em;
}

.fjYjkQ {
    color: rgb(0, 0, 0);
    margin: 28px auto;
    max-width: 430px;
}

.fYrNgX {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.c01111 {
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
}

.fYrNgX .textInput {
    margin-bottom: 16px;
}

.c01119 {
    color: #757575;
    font-size: 13px;
    font-family: inherit;
    font-weight: 400;
    padding-bottom: 4px;
}

.c01121 {
    display: flex;
    position: relative;
    align-items: center;
}

.gExrUA input {
    font-family: inherit;
}

.c01126 {
    height: 40px;
}

.c01112 {
    color: #212121;
    width: 100%;
    padding: 8px;
    outline: 0;
    position: relative;
    font-size: 14px;
    box-sizing: border-box;
    background: #ffffff;
    transition: 700ms ease-in border-color;
    font-weight: 400;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #757575;
    border-radius: 2px;
    -webkit-appearance: none;
}

.c01113 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(0);
    box-sizing: border-box;
    transition: 500ms linear transform;
    border-color: #757575;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    pointer-events: none;
    transform-origin: center;
    border-left-width: 0;
    border-right-width: 0;
}

.c01103 button {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
    letter-spacing: 0.5px;
}

.AskkU {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    fill: rgb(33, 33, 33);
    font-size: 28px;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 0px;
}

.fILsPq {
    background: rgb(24, 212, 232);
    border-radius: 3px;
    border: 0px;
    box-shadow: rgba(51, 51, 51, 0.3) 3px 3px 4px 0px;
    color: rgb(33, 33, 33);
    cursor: pointer;
    display: block;
    font-family: Roboto, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    height: 72px;
    padding: 0px 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin: 20px auto 32px;
}

.payment {
    margin-top: -40px;
}


@media (max-width: 1070px) {
    .movie-wrap {
        overflow-x: hidden;
        width: 100%;
    }
}


@media (max-width: 500px) {
    header img {
        width: 40%;
    }

    #voice {
        width: 25px;
        height: 25px;
    }

    #disclamer {
        width: 100%;
    }

    .jnsqxD {
        width: 100%;
        left: 0;
        bottom: 0;
        top: auto;
    }

    .jnsqxD .actions-panel {
        max-width: 100%;
        width: 100%;
    }

    .actions-list {
        display: flex;
        overflow-x: scroll;
    }

    .jnsqxD .actions-list {
        flex-wrap: nowrap;
    }

    .action-tooltip {
        display: none;
    }

    .action-ctn {
        margin-right: 20px;
    }

    video {
        height: 100vh;
        min-width: 100vw;
        width: auto;
        transform: translateX(calc(100vw - 1000px));
    }
}